body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(67, 207, 153);
}
.login h1{
    background-color: rgb(0, 128, 75);
    color: white;
    width: 260px;
    height: 50px;
    padding: 20px 60px;
    margin-top: -20px;
    margin-left: -20px;
    font-weight: 900;
    border-radius: 5px 5px 0 0;
}
.login{
    background-color: white;
    padding: 20px;
    width: 340px;
    height: 270px;
    border-radius: 5px;
}
.login input{
    width: 330px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.login button{
    width: 300px;
    height: 38px;
    margin-left: 15px;
    background-color: rgb(0, 128, 75);
    color: white;
    font-weight: 900;
    font-size: 20px;
    border-radius: 5px;
}
.login p{
    margin-left: 80px;
}
.login p a{
    color: rgb(90, 175, 90);
    text-decoration: none;
}